@keyframes main-heading-animation {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(3.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes sub-heading-animation {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(-3.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  from {
    transform: translateY(3rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  /* 1rem = 10px */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: Lato, sans-serif;
  /* font-size: 1.6rem; */
  font-weight: 400;
  padding: 3rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: main-heading-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation-name: sub-heading-animation;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.header-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
  .header-secondary:hover {
    transform: skewY(3deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block; }

.paragraph {
  font-size: 1.6rem; }

.u-center-text {
  text-align: center; }

.u-mb-lg {
  margin-bottom: 8rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  text-decoration: none;
  font-size: 1.6rem;
  position: relative;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.8); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn::after {
  content: "";
  display: inline-block;
  border-radius: 10rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom 0.7s ease-out 0.7s;
  animation-fill-mode: backwards; }

.btn-text {
  display: inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 0.3rem;
  color: #28b485; }
  .btn-text:hover {
    background-color: #28b485;
    color: white;
    transform: translateY(-0.8rem);
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn-text:active {
    transform: translateY(0);
    box-shadow: 0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.header {
  background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header .header__logo {
    height: 3.5rem; }

.header__title {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-about__content {
  display: flex;
  justify-content: space-around; }
  .section-about__content div:first-child {
    width: 40%; }
  .section-about__content div:last-child {
    width: 40%; }

.right-container {
  position: relative; }
  .right-container .image-1 {
    position: absolute;
    left: 0;
    top: -2rem; }
  .right-container .image-2 {
    position: absolute;
    right: 0;
    top: 2rem; }
  .right-container .image-3 {
    position: absolute;
    left: 20%;
    top: 10rem; }
  .right-container .composition-photo {
    transition: all 0.2s ease-out;
    width: 55%; }
    .right-container .composition-photo:hover {
      outline: 1.5rem solid #7ed56f;
      transform: scale(1.02) translateY(-0.5rem);
      z-index: 20;
      outline-offset: 2rem; }
