/* .heading-primary {
    color:  #fff;
    text-transform: uppercase;
}

.heading-primary__main {
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 25px;
}

.heading-primary__sub {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
} */